custom rkey

I want to lookup my blog articles by slug. Would be cool if you have option to set the rkey manually when you create blog record

IANTD*, but I am guessing that the use of the `tid` form of record key is to provide simple ordering. I could see a couple of ways to map a redirect from a slug based uri to the canonical uri.  For instance:

https://whtwnd.com/sacrebel.bsky.social/3lcije4jj3j2u <- Bluesky Quick and Dirty Guide

https://whtwnd.com/sacrebel.bsky.social/bluesky-quick-and-dirty-guide -> REDIRECT https://whtwnd.com/sacrebel.bsky.social/3lcije4jj3j2u

This would be an bad experience for non-latin languages (is that what we call them now?) and even latin languages with diacritics as the rkey is limited in acceptable characters. Per the docs:

> Regardless of the type, Record Keys must fulfill some baseline syntax constraints:
>
> * restricted to a subset of ASCII characters — the allowed characters are alphanumeric (A-Za-z0-9), period, dash, underscore, colon, or tilde (.-_:~)
> *  must have at least 1 and at most 512 characters
> * the specific record key values . and .. are not allowed
> * must be a permissible part of repository MST path string (the above constraints satisfy this condition)
> * must be permissible to include in a path component of a URI (following RFC-3986, section 3.3). The above constraints satisfy this condition, by matching the "unreserved" characters allowed in generic URI paths.

https://atproto.com/specs/record-key

* I Am Not The Dev